

<div class="container content">
    <div class="row">
        <div class="col-md-6">


            <div *ngFor="let items of array; let i = index">
                <div class="d-flex bg-success  col-lg-12" > 
                    <div class="col-4 text-light h5"></div>
                    <div style="margin-top: 3px;">
                        <input type="checkbox" [checked]="!items" (change)="onChange($event, i)"
                        title='Select the task you want to remove'>
                    </div>
                    <div class="badge badge-primary text-wrap col-lg-12" style="width: 6rem;">
                        {{items}}
                      </div>
                </div>
            </div>


        </div>
    </div>
</div>