<div class="row bg-success justify-content-center align-items-center" style="height:80px">
    <div class="col-1 text-light h2 ">
        ToDo
    </div>
</div>
<div class="card-body mx-5">
    <div class="col-md-4 mx-5" *ngIf="!Task">
        <span style="color: red;font-weight: bold;">
            Enter a Task to add into the Todo List</span>
    </div>
</div>
<div class="card-body">
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-body">
                        <div class="row  mx-5">
                            <div class=" d-flex justify-content-center align-items-center 
                                text-light h4">
                                <div class="d-flex mx-5">
                                    <input type="text" [(ngModel)]="Task" style="width:220px; text-align: center;">
                                    <div *ngIf="Task">
                                        <button (click)="addToList()" class="btn btn-light text-success" style="margin-left: 30px;">
                                            ADD TASK
                                        </button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>