
<div class="container content mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="row bg-success justify-content-center align-items-center" style="height:80px">
                <div class="col-3 text-light h2 mt-3">
                    ToDo
                </div>
                <div style="height: 30px;"></div>
                <div class="col-md-6" *ngIf="!Task">
                    <span style="color: red;">
                        Enter a Task to add into the Todo List</span>
                </div>
            </div>
        </div>
        <div class="row mt-5 col-md-8">
            <div class="mt-2 col-md-6 mx-5 bg-success d-flex justify-content-center align-items-center 
                text-light h4" style="margin-left: 0%;">
                <div class="col-md-8 d-flex">
                    <input type="text" [(ngModel)]="Task" style="width:200px; text-align: center;">
                    <div *ngIf="Task">
                        <button (click)="addToList()" class="btn btn-light text-success" style="margin-left: 30px;">
                            ADD TASK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>